.App-header{
  display: flex;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  background-color: #282c34;
  color: white;
  font-size: 25px;
}


@media (max-width: 600px){
  .rowalignment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border:15px;
    margin: 10px 49px;
    
  }
  .button{
    display: flex;
    margin:auto
  }
}


select , button {
  padding:10px;
  margin:5px;
  border:none;
  background-color: #4a7afd;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

.img{
  height: 150x;
  width: 150px;
}

.result{
  text-align: center;
}